@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@import './styles/variables.css';
@import './styles/reset.css';
@import './styles/typography.css';
@import './styles/grid.css';
@import './styles/utilities.css';

body.menu-open .landing-content {
  filter: blur(4px) brightness(0.5);
  transition: filter 0.3s ease;
  pointer-events: none;
}

body.menu-open header {
  filter: none;
  pointer-events: auto;
}

body.menu-open .menuButton {
  filter: none;
  pointer-events: auto;
}
