.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  padding-top: 100px;
  flex: 1;
}

@media (max-width: 768px) {
  .mainContent {
    padding-top: 70px;
  }
}

@media (max-width: 480px) {
  .mainContent {
    padding-top: 60px;
  }
}
